# PyCharm
.idea/

# Python virtualenv environment folders
env/
env3/
.env/
.wenv/

# Bot local files
*.db
store/

# Config file
config.yaml

# Python
__pycache__/
*.egg-info/
build/
dist/
activate/

# Config file
config.yaml

# Log files
*.log

# Visual studio code workspace
*workspace
